* {
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: #b91c1c;
}

#logo {
  width: 20px;
}

#logobutton {
  background-color: white;
}

body {
  background-color: #131314;
  padding-top: 65px;
  margin: 0;
}

.login-btn {
  margin-left: 15px;
}

