body {
  background-image: url("../images/bloodmoon.jpg");
  background-size: cover;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

h1 {
  font-weight: bold;
  color: white;
  text-shadow: 0 0 10px black;
}

form {
  width: 70%;
}

form .input-group {
  height: 45px;
  width: 100%;
}

.container-fluid.home form .btn {
  border-left: rgb(196, 196, 196) solid 1px;
}

.data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  border: white solid 1px;
  border-radius: 15px;
  margin: 25px;
  padding: 25px;
}

h3, p {
  color: white;
}

p {
  padding-top: 15px;
}

