RewriteEngine On

# Rewrite /champions.php to /pages/Champions
RewriteRule ^Champions$ pages/champions.php [L]

# Rewrite /posts.php to /pages/Posts
RewriteRule ^Posts$ pages/posts.php [L]

# Rewrite /login.php to /Login
RewriteRule ^Login$ pages/login.php [L]

# Rewrite /register.php to /Register
RewriteRule ^Register$ pages/register.php [L]

# Rewrite /edit.php to /Edit
RewriteRule ^Edit$ pages/edit.php [L]

# Rewrite /upload.php to /Upload
RewriteRule ^Upload$ pages/upload.php [L]

# Rewrite /edit-users.php to /EditUsers
RewriteRule ^EditUsers$ pages/edit-users.php [L]

# Rewrite /fullpost.php to /FullPost
RewriteRule ^FullPost$ pages/fullpost.php [L]

# Rewrite /manageFeedback.php to /ManageFeedback
RewriteRule ^ManageFeedback$ pages/manageFeedback.php [L]

# Rewrite /reviews.php to /Reviews
RewriteRule ^Reviews$ pages/reviews.php [L]

# Rewrite /submitReview.php to /SubmitReview
RewriteRule ^SubmitReview$ pages/submitReview.php [L]

# Rewrite /deleteReview.php to /DeleteReview
RewriteRule ^DeleteReview$ pages/deleteReview.php [L]

# Rewrite /sort.php to /Sort
RewriteRule ^Sort$ pages/sort.php [L]
