RewriteEngine On

# Rewrite /champions.php to /pages/Champions
RewriteRule ^Champions$ pages/champions.php [L]

# Rewrite /posts.php to /pages/Posts
RewriteRule ^Posts$ pages/posts.php [L]

# Rewrite /login.php to /Login
RewriteRule ^Login$ pages/login.php [L]

# Rewrite /register.php to /Register
RewriteRule ^Register$ pages/register.php [L]

# Rewrite /edit.php to /Edit
RewriteRule ^Edit$ pages/edit.php [L]

# Rewrite /upload.php to /Upload
RewriteRule ^Upload$ pages/upload.php [L]